*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header{
    display: block;
    background-color: black;
    
}

.logo{
    font-size: 30px;
    display: inline-block;
    align-items: flex-start;

}

.espacio-login{
    margin: auto;
}


aside{
    background-color: black;
    display: inline;
    height: 93vh;
}

a{
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
    color: white;
}

a:hover {
    color:bisque;
}

