*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.opcionesAdmin{
    border: 1px solid blue;
    display: inline-block;
    background-color: red;
    height: 100%;
    align-content: center;
}

a{
    text-decoration: none;
    color:black;
    border: 1px solid purple;
    display: block;
    align-items: center;
    padding: 10px;
}

section{
    text-align: center;
}

